{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
	{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.
{relx, [{release, {"websocket_chat", "1.5.0"},
         ["websocket_chat"]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]}.
